{% extends "app_my_site/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            {% for quote in quotes %}
            <blockquote class="blockquote pb-2">
                <p>{{quote.quote}}</p>
            </blockquote>
            <div class="blockquote mb-0">
                <h5>by <cite><a href="{% url 'app_my_site:author_descr' quote.author_id %}">
                    {{quote.author_id.fullname}}</a>
                </cite></h5>
            </div>
            <h5>Tags:
                {% for tag in quote.tags.all %}
                <a type="submit" class="btn btn-primary btn-sm" name="tag_name" href="?tag_name={{tag}}">
                    {{tag}}
                </a>
                {% endfor%}
            </h5>
            {% endfor %}
        </div>
    </div>
</div>
