{% extends "app_my_site/base.html" %}

{% block content %}
    <h1>Post new quote</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Post">
    </form>
    {% if form.errors %}
        <p>The form has the following errors:</p>
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}